*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    width: 80vw;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    height: 3rem;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

.noteTitle{
    height: 3rem;
    width: 60vw;
    margin-top: 1rem;
    padding: 0.4rem 2rem;
}

.create-btn{
    height: 3rem;
    padding: 0.2rem 2rem;
    margin-left: 1rem;
    background-color: red;
}
.textarea{
    height: 16rem;
    width: 80vw;
    border: none;
    resize: none;
    margin-top: 1rem;
    padding: 1rem;
}

.myNotes{
    color: white;
}
.myNotes h2{
    text-align: center;
}

.note-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}
.notes{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.6rem;
}
.note-btns{
    display: flex;
    justify-content: space-between;
}